<div class="flex min-h-screen items-center justify-center bg-gray-100">
  <div class="flex w-full max-w-md flex-col rounded-lg bg-white p-8 shadow-md">
    <h1 class="mb-6 text-center text-2xl font-bold">Register</h1>

    <form [formRoot]="registerForm" class="flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <label for="firstName" class="text-sm font-medium text-gray-700"> First Name </label>
        <input
          id="firstName"
          type="text"
          [formField]="registerForm.firstName"
          class="rounded-md border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none"
          [class.border-red-500]="showError(registerForm.firstName())"
        />

        @if (showError(registerForm.firstName())) {
          <p class="text-xs text-red-600">{{ firstError(registerForm.firstName()) }}</p>
        }
      </div>
      <div class="flex flex-col gap-1">
        <label for="lastName" class="text-sm font-medium text-gray-700"> Last Name </label>
        <input
          id="lastName"
          type="text"
          [formField]="registerForm.lastName"
          class="rounded-md border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none"
          [class.border-red-500]="showError(registerForm.lastName())"
        />

        @if (showError(registerForm.lastName())) {
          <p class="text-xs text-red-600">{{ firstError(registerForm.lastName()) }}</p>
        }
      </div>
      <div class="flex flex-col gap-1">
        <label for="email" class="text-sm font-medium text-gray-700"> E-mail </label>
        <input
          id="email"
          type="email"
          [formField]="registerForm.email"
          class="rounded-md border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none"
          [class.border-red-500]="showError(registerForm.email())"
        />

        @if (showError(registerForm.email())) {
          <p class="text-xs text-red-600">{{ firstError(registerForm.email()) }}</p>
        }
      </div>
      <div class="flex flex-col gap-1">
        <label for="username" class="text-sm font-medium text-gray-700"> Username </label>
        <input
          id="username"
          type="text"
          [formField]="registerForm.username"
          class="rounded-md border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none"
          [class.border-red-500]="showError(registerForm.username())"
        />

        @if (showError(registerForm.username())) {
          <p class="text-xs text-red-600">{{ firstError(registerForm.username()) }}</p>
        }
      </div>
      <div class="flex flex-col gap-1">
        <label for="password" class="text-sm font-medium text-gray-700"> Password </label>
        <input
          id="password"
          type="password"
          [formField]="registerForm.password"
          class="rounded-md border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none"
          [class.border-red-500]="showError(registerForm.password())"
        />

        @if (showError(registerForm.password())) {
          <p class="text-xs text-red-600">{{ firstError(registerForm.password()) }}</p>
        }
      </div>
      <div class="flex flex-col gap-1">
        <label for="repeatedPassword" class="text-sm font-medium text-gray-700">
          Repeated password
        </label>
        <input
          id="repeatedPassword"
          type="password"
          [formField]="registerForm.repeatedPassword"
          class="rounded-md border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none"
          [class.border-red-500]="showError(registerForm.repeatedPassword())"
        />

        @if (showError(registerForm.repeatedPassword())) {
          <p class="text-xs text-red-600">{{ firstError(registerForm.repeatedPassword()) }}</p>
        }
      </div>
      <div class="flex flex-col gap-1">
        <label for="phoneNumber" class="text-sm font-medium text-gray-700"> Phone number </label>
        <input
          id="phoneNumber"
          type="text"
          [formField]="registerForm.phoneNumber"
          class="rounded-md border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none"
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="pfpUrl" class="text-sm font-medium text-gray-700">
          Profile Picture (URL)
        </label>
        <input
          id="pfpUrl"
          type="text"
          [formField]="registerForm.pfpUrl"
          class="rounded-md border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none"
          [class.border-red-500]="showError(registerForm.pfpUrl())"
        />

        @if (showError(registerForm.pfpUrl())) {
          <p class="text-xs text-red-600">{{ firstError(registerForm.pfpUrl()) }}</p>
        }
      </div>

      <button
        type="submit"
        class="rounded-md bg-blue-600 px-4 py-2 font-medium text-white transition hover:bg-blue-700 hover:cursor-pointer disabled:bg-blue-300 disabled:hover:cursor-not-allowed"
      >
        Sign In
      </button>
    </form>
    <div class="flex gap-1 justify-center mt-3">
      <span class="text-sm font-medium text-gray-700">Have an account?</span
      ><a routerLink="/auth/login" class="text-sm font-medium text-blue-500 hover:underline"
        >Login</a
      >
    </div>
  </div>
</div>

@if (registerModal(); as modal) {
  <app-modal [title]="modal.title" [variant]="modal.variant" (close)="closeRegisterModal()">
    <p class="text-sm text-gray-700">{{ modal.message }}</p>
  </app-modal>
}
