<aside class="flex h-full w-80 flex-col border-r border-gray-200 bg-white">
  <!-- Sidebar header -->
  <div class="flex justify-between border-b border-gray-200 p-4">
    <div class="flex gap-2">
      <button
        class="rounded-full border border-gray-200 p-2 text-left text-xs transition hover:bg-gray-200 cursor-pointer"
        (click)="navigateTo('/')"
      >
        <svg lucideHouse></svg>
      </button>
      @if (authService.hasRole(ROLE_ADMIN)) {
        <button
          class="rounded-full border border-gray-200 p-2 text-left text-xs transition hover:bg-gray-200 cursor-pointer"
          (click)="navigateTo('admin/dashboard')"
        >
          <svg lucideGavel></svg>
        </button>
      }
    </div>

    <button
      class="rounded-full border border-gray-200 p-2 text-left text-xs transition hover:bg-gray-200 cursor-pointer"
      (click)="openNewChatModal()"
    >
      <svg lucideMessageCirclePlus></svg>
    </button>
  </div>

  <!-- Search -->
  <div class="border-b border-gray-200 p-4">
    <input
      type="text"
      placeholder="Search chats..."
      class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm outline-none focus:border-blue-500"
    />
  </div>

  <!-- Chat list -->
  <div class="min-h-0 flex-1 overflow-y-auto">
    @for (chat of chats(); track chat.id) {
      <button
        type="button"
        class="flex w-full items-center gap-3 border-b border-gray-100 p-4 text-left transition"
        [class.bg-blue-100]="isSelectedChat(chat)"
        [class.font-bold]="isSelectedChat(chat)"
        [class.hover:bg-gray-200]="!isSelectedChat(chat)"
        [class.hover:bg-blue-50]="isSelectedChat(chat)"
        (click)="navigateTo(`chats/${chat.id}`)"
      >
        <img
          [src]="chatService.getChatPfpUrl(chat)"
          alt="Profile picture"
          class="h-12 w-12 shrink-0 rounded-full object-cover"
        />

        <div class="min-w-0 flex-1">
          <div class="flex items-center justify-between gap-2">
            @if (chat.type === 'DIRECT') {
              <h2 class="truncate font-medium">
                {{ chatService.getChatTitle(chat) }}
              </h2>
            } @else {
              <h2 class="truncate font-medium">
                {{ chat.name }}
              </h2>
            }

            <div class="flex shrink-0 items-center gap-2">
              <!-- <span class="text-xs text-gray-400">12:45</span> -->

              @if (chat.unreadCount > 0) {
                <span
                  class="flex h-5 min-w-5 items-center justify-center rounded-full bg-red-500 px-1.5 text-xs font-semibold leading-none text-white"
                >
                  {{ chat.unreadCount }}
                </span>
              }
            </div>
          </div>
        </div>
      </button>
    }
  </div>

  <!-- Sidebar footer -->
  <footer class="shrink-0 border-t border-gray-200 p-3">
    <div class="flex items-center justify-between gap-3">
      <button
        class="flex items-center gap-2 hover:bg-gray-100 pr-3 pl-2 py-2 rounded-lg"
        (click)="navigateTo('profile')"
      >
        <img
          [src]="currentUser()?.pfpUrl"
          alt="Profile picture"
          class="h-9 w-9 shrink-0 rounded-full object-cover"
        />
        <div class="min-w-0">
          <p class="truncate text-sm font-medium text-gray-900 text-left">
            {{ currentUser()?.firstName + ' ' + currentUser()?.lastName }}
          </p>
          <p class="text-xs text-gray-500 text-left">Status: N/A</p>
        </div>
      </button>

      <button
        type="button"
        class="shrink-0 rounded-lg border border-gray-300 px-3 py-2 text-sm font-medium text-gray-700 transition hover:bg-gray-100"
        (click)="authService.logout()"
      >
        Logout
      </button>
    </div>
  </footer>
</aside>

@if (isNewChatModalOpen()) {
  <app-modal title="New chat" (close)="closeNewChatModal()">
    <input
      type="text"
      placeholder="Search by username, name, or phone number..."
      class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm outline-none focus:border-blue-500"
      [formField]="searchForm.content"
    />

    <div class="mt-4 space-y-2">
      @if (isSearching()) {
        <p class="text-m text-gray-500">Searching...</p>
      }
      @if (searchModel().content.length > 0 && searchResults().length === 0 && !isSearching()) {
        <p class="text-m text-gray-500 italic text-center">No users found matching your search.</p>
      }
      @for (user of searchResults(); track user.id) {
        <button
          type="button"
          class="flex w-full items-center gap-3 rounded-lg p-3 text-left transition hover:bg-gray-100"
          (click)="createNewDirectChat(user.id)"
        >
          <img
            [src]="user.pfpUrl"
            alt="Profile picture"
            class="h-10 w-10 rounded-full object-cover"
          />

          <div class="min-w-0">
            <p class="truncate font-medium">
              {{ user.firstName + ' ' + user.lastName }} ({{ user.phoneNumber }})
            </p>
            <p class="truncate text-sm text-gray-500">@{{ user.username }}</p>
          </div>
        </button>
      }
    </div>
  </app-modal>
}
